.everfund-donation-form {
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;
}

.everfund-donation-form .iframeStyles {
  border: none;
  margin: 0;
  width: 100%;
  height: 100%;
}

@keyframes everfund-donation-form-loadingRings {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.everfund-donation-form .everfund-loading-rings {
  display: inline-block;
  position: absolute;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
  width: 64px;
  height: 64px;

  & div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #000;
    border-radius: 50%;
    animation: everfund-donation-form-loadingRings 1.2s
      cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
  }

  & div:nth-child(1) {
    animation-delay: -0.45s;
  }

  & div:nth-child(2) {
    animation-delay: -0.3s;
  }

  & div:nth-child(3) {
    animation-delay: -0.15s;
  }
}
