:local(.embedContainer) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999998;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  backdrop-filter: blur(8px);
}
:local(.embedModal) {
  display: inline-block;
  pointer-events: all;
  z-index: 9999999;
  display: flex;
  /* padding: 15px; */
  width: 100%;
  transform: opacity(0);
  transition: transform 0.3s ease;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
:local(.embedIframe) {
  border: none;
  width: 100%;
  margin: 0;
  height: 100%;
}

:local(.ldsRing) {
  display: inline-block;
  position: absolute;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
  width: 64px;
  height: 64px;
}
:local(.ldsRing div) {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid white;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: white transparent transparent transparent;
}
:local(.ldsRing div:nth-child(1)) {
  animation-delay: -0.45s;
}
:local(.ldsRing div:nth-child(2)) {
  animation-delay: -0.3s;
}
:local(.ldsRing div:nth-child(3)) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-height: 700px) {
  :local(.embedContainer) {
    align-items: center;
  }
}

@media screen and (min-width: 700px) {
  :local(.closeButtonSpanIcon svg) {
    display: block;
  }
  :local(.closeButtonSpanIcon) {
    display: block;
  }
  :local(.closeButtonSpanIcon svg) {
    width: 1.5rem;
    height: 1.5rem;
  }
  :local(.closeButtonSpanText) {
    display: none;
  }
  :local(.closeButtonWrap) {
    bottom: auto;
    width: auto;
    margin: 0;
    right: 0;
  }
}
