/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

body,
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-24 {
  top: 6rem;
}

.focus-ring {
  outline: none;
  @apply border-blue-400 ring;
}

/* purgecss start ignore */

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.aspect-ratio-square {
  padding-top: 100%;
}

.aspect-ratio-16-9 {
  padding-top: 56.25%;
}

.aspect-ratio-4-3 {
  padding-top: 75%;
}

.aspect-ratio-21-9 {
  padding-top: 42.86%;
}

.anchor {
  @apply absolute ml-2 pr-1 text-gray-500 underline;
}

.anchor::after {
  content: "#";
  visibility: hidden;
}

h1:hover .anchor::after,
h2:hover .anchor::after,
h3:hover .anchor::after,
h4:hover .anchor::after,
h5:hover .anchor::after,
h6:hover .anchor::after {
  visibility: visible;
}

/* Algolia v3 overrides */
:root {
  --ifm-z-index-fixed: 1000;
  --hover-overlay: rgba(0, 0, 0, 0.05);
  --fds-animation-fade-in: cubic-bezier(0, 0, 1, 1);
  --fds-animation-fade-out: cubic-bezier(0, 0, 1, 1);
}

/* Custom Remark alerts */
.alert {
  @apply mb-4 p-4 border-l-4;
}

.alert.alert-danger {
  @apply text-red-800 bg-red-50 border-red-500;
}

.alert.alert-success {
  @apply text-green-700 bg-green-50 border-green-500;
}

.alert.alert-warning {
  @apply text-yellow-800 bg-yellow-50 border-yellow-500;
}

.alert.alert-info {
  @apply text-blue-800 bg-blue-50 border-blue-500;
}

.font-mono {
  font-family: monospace;
}

details > p > a,
details > ul > li > a,
details > ol > li > a,
details > ul > li a,
details > ol > li a,
details > table > tbody > tr > td > a {
  @apply text-blue-600 font-semibold transition-colors duration-150 ease-out;
}

details > p > a:hover,
details > ul > li > a:hover,
details > ol > li > a:hover,
details > table > tbody > tr > td > a:hover {
  @apply text-blue-800 transition-colors duration-150 ease-out;
}

details strong {
  @apply font-bold;
}

details > p,
details > ul,
details > ol,
details > blockquote,
details > pre,
details > div > .code-block {
  @apply mb-4;
}
details > ul,
details > ul > li > ul {
  @apply ml-8 list-disc;
}

details > ol {
  @apply ml-8 list-decimal;
}
details {
  @apply mb-3 p-3 text-sm leading-5 bg-gray-50 border rounded-md shadow-sm;
}
details > p {
  @apply mt-2;
}
details > summary {
  @apply text-base font-bold;
}

@tailwind utilities;
/* purgecss end ignore */

@font-face {
  font-family: "visby";
  src: url("/fonts/visby-thin.woff2") format("woff2"),
    url("/fonts/visby-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "visby";
  src: url("/fonts/visby-thinoblique.woff2") format("woff2"),
    url("/fonts/visby-thinoblique.woff") format("woff");
  font-weight: 100;
  font-style: oblique;
}

@font-face {
  font-family: "visby";
  src: url("/fonts/visby-light.woff2") format("woff2"),
    url("/fonts/visby-light.woff") format("woff");
  font-weight: 200;
  font-style: oblique;
}

@font-face {
  font-family: "visby";
  src: url("/fonts/visby-lightoblique.woff2") format("woff2"),
    url("/fonts/visby-lightoblique.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "visby";
  src: url("/fonts/visby-regular.woff2") format("woff2"),
    url("/fonts/visby-regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "visby";
  src: url("/fonts/visby-regularoblique.woff2") format("woff2"),
    url("/fonts/visby-regularoblique.woff") format("woff");
  font-weight: 300;
  font-style: oblique;
}

@font-face {
  font-family: "visby";
  src: url("/fonts/visby-medium.woff2") format("woff2"),
    url("/fonts/visby-medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "visby";
  src: url("/fonts/visby-mediumoblique.woff2") format("woff2"),
    url("/fonts/visby-mediumoblique.woff") format("woff");
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: "visby";
  src: url("/fonts/visby-demibold.woff2") format("woff2"),
    url("/fonts/visby-demibold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "visby";
  src: url("/fonts/visby-demiboldoblique.woff2") format("woff2"),
    url("/fonts/visby-demiboldoblique.woff") format("woff");
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: "visby";
  src: url("/fonts/visby-bold.woff2") format("woff2"),
    url("/fonts/visby-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "visby";
  src: url("/fonts/visby-boldoblique.woff2") format("woff2"),
    url("/fonts/visby-boldoblique.woff") format("woff");
  font-weight: 600;
  font-style: oblique;
}

@font-face {
  font-family: "visby";
  src: url("/fonts/visby-extrabold.woff2") format("woff2"),
    url("/fonts/visby-extrabold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "visby";
  src: url("/fonts/visby-extraboldoblique.woff2") format("woff2"),
    url("/fonts/visby-extraboldoblique.woff") format("woff");
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: "visby";
  src: url("/fonts/visby-heavy.woff2") format("woff2"),
    url("/fonts/visby-heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
